<!DOCTYPE html>
<html>
<head>
    <title>Conversational Interface</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1>Conversational Interface</h1>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <input type="text" id="input" placeholder="Type your message here">
        <button id="send">Send</button>
        <div id="conversation-output"></div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>